# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# IDE
.idea/
*.iml

# macOS
.DS_Store

# Logs
*.log

# Python build artifacts
build/
dist/
*.egg-info/

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/